
.main-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 100%;
  }


.navbar.bg-success {
    background: linear-gradient(to right, rgb(211, 7, 7), purple, black) !important; }

.spaced-link {
      margin: 0 20px;
    }


.main-bg {
      position: relative;
      min-height: 100vh;
      overflow: hidden;
    }

.main-bg::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('./images/chevelle.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 1.0;
      z-index: -1;
    }

.main-bg h1.display-5,
.main-bg p.lead {
color: white;
}

.main-bg h1.display-5 {
font-size: 3rem;
}

.main-bg p.lead {
font-size: 1.5rem;
}
.default-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.lottie-center-bottom {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

#manufacturers-title {
  text-align: center;
  background: linear-gradient(to right, rgb(211, 7, 7), purple, black);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Ruwudu', sans-serif;
  font-weight: 600;
  padding:15px
}

#models-title {
  text-align: center;
  background: linear-gradient(to right, rgb(211, 7, 7), purple, black);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Ruwudu', sans-serif;
  font-weight: 600;
  padding:15px
}

#sales-title{
  text-align: center;
  background: linear-gradient(to right, rgb(211, 7, 7), purple, black);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Ruwudu', sans-serif;
  font-weight: 600;
  padding:15px
}

#customer-title{
  text-align: center;
  background: linear-gradient(to right, rgb(211, 7, 7), purple, black);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Ruwudu', sans-serif;
  font-weight: 600;
  padding:15px
}

#tech-title{
  text-align: center;
  background: linear-gradient(to right, rgb(211, 7, 7), purple, black);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Ruwudu', sans-serif;
  font-weight: 600;
  padding:15px
}
